body, button, input {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 72px 100px;
}
h1 {
    font-weight: 800;
    font-size: 60px;
    color: rgb(100, 135, 240);
}
#controls {
    display: inline-block;
    width: 50%;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 42px;
    padding-right: 42px;
}
.input-group {
    margin: 26px 0;
}
label {
    display: inline-block;
    width: 24%;
    font-weight: 200;
    font-size: 30px;
    padding: 12px;
    margin-right: 30px;
}
input {
    width: 60%;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    font-weight: 200;
    outline: none;
}
input:disabled {
    background-color: #fff;
    opacity: 0.6;
}
button {
    padding: 12px 50px;
    background-color: rgb(100, 135, 240);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}
button:hover {
    opacity: 0.8;
}
button:disabled {
    opacity: 0.65;
}
h2 {
    color: rgb(100, 135, 240);
    float: right;
    font-weight: 200;
    font-size: 140px;
    margin: 12px 0;
    /* padding-left: 100px; */
}
@media screen and (max-width: 1200px)
{
    body{
        font-size: smaller;
        margin: auto 10px;
    }
    button {
        padding: 12px 30px;
    }
    input {
        width: 50%;
    }
}
@media screen and (max-width: 800px)
{
     input {
        width: 40%;
    } 
	h2 {
		font-size: 100px;
}
}
@media screen and (max-width: 700px)
{
	h2 {
		font-size: 80px;
	   }

	button {
        	padding: 12px 15px;
    	       }
}
@media screen and (max-width: 535px)
{
	h2 {
		font-size: 60px;
	   }

	button {
        	padding: 12px 10px;
    	       }
	h1 {
		font-size: 50px;
	   }
}